html {
  max-width: 100%;
}

body {
  background-color: rgb(224,224,224);
  max-width: 100%;
}

.loadArea {
  max-width: 100%;
}

h1 {
  font-size: 4.5rem;
  position: absolute;
  right: 20px;
  top: 50px;
  font-family: "Lobster" ,"cursive";
  color: rgb(249, 253, 75);
  text-shadow: 0 0 10px black;
}

p {
  font-size: 1.5rem;
  font-family: "Roboto";
  text-align: center;
  font-weight: bold;
  color: rgb(204, 0, 0);
}

input[type=text]:invalid:after { content: “NOT AVAILABLE”; }

/*form {
  text-align: center;
}

#textArea {
  padding: 1.5px;
  height: 30px;
  width: 30%;
  color: rgb(255,0,0);
  font-size: 1.5em;
  box-shadow: 5px 1px #e0e0e0;
}

#searchButton {
  width: 5%;
  height: 43px;
  color: black;
  font-size: 0.9em;
  text-shadow: 5px 1px #e0e0e0;
}

#searchButton:hover {
  background: #e0e0e0;
}*/

.centered {
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 30px 0;
}

ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%; /* should match li left margin */
}

ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}

ul.rig li h3 {
  margin: 0 0 5px;
}

ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

ul.rig.columns-4 li {
  width: 22.5%;
}
 
/*@media screen and (min-width: 349px) {
  h1 {
    font-size: 20pt;
    top: 10px;
    left: 50px;
  }

  #logo>img {
    width: 20pt;
    height: 50pt;
  /*opacity: .5;
  border-radius: 70%;*/
 /* }
}*/

/*@media screen and (min-width: 480px) {
  h1 {
    font-size: 30pt;
    top: 10px;
    left: 80px;
  }

  #logo>img {
    width: 30pt;
    height: 60pt;
  }
}*/


/*@media screen and (max-width: 720px) {
  h1 {
    font-size: 38pt;
    top: 4px;
    left: 180px;
  }

  #logo>img {
    width: 100pt;
    height: 90pt;
  }
}

@media screen and (max-width: 1328px) {
  h1 {
    font-size: 42pt;
    top: 2px;
    left: 200px;
  }

  #logo>img {
    width: 120pt;
    height: 100pt;
  }
*/
/*@media(max-width: 1300px) {
  h1 {
    font-size: 42pt;
    top: 2px;
    left: 200px;
  }

  #logo>img {
    width: 120pt;
    height: 100pt;
  }*/
/*}*/